<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <metacharset="utf-8"/>
    <metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div id="wrapper" class="column">
        <div id="inner">


            <div id="header">
                <img img th:src="@{/images/header.png}" width="519" height="63" alt="Webshop"/>
                <div id="nav">
                    <a th:href="login">your account</a> | <a href="/shopcart">view cart</a> | <a
                        href="/orders">orders</a>
                </div>
            </div>


            <div class="shopcart">
                <ul th:each="item : ${session.cartHandler}">
                    <table>

                        <tr>
                            <th>Title</th>
                            <th th:text="${item.book.title}"></th>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <th th:text="${item.book.author}"></th>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <th th:text="${item.book.price}"></th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th th:text="${item.book.date}"></th>
                        </tr>
                        <tr>
                            <th>Qty</th>
                            <th th:text="${item.qty}"></th>
                        </tr>
                        <tr>

                            <th>
                                <form ACTION="#" th:action="@{/addExistingBook}"  method="POST">
                                <button type="number" name="cartItemIndex" th:value="${itemStat.index}">+</button>
                            </form>
                            </th>

                            <th>
                                <form ACTION="#" th:action="@{/subExistingBook}"  method="POST">
                                    <button type="number" name="cartItemIndex" th:value="${itemStat.index}">-</button>
                                </form>


                            </th>

                        </tr>


                    </table>
                </ul>

                <h2 th:if="${session.totalprice!=null}" th:text="'Total Price:'+ ${session.totalprice}"></h2>
                <h2 th:if="${session.totalItems!=null}" th:text="'Total QTY:'+ ${session.totalItems}"></h2>
            </div>


            <a href="/">Back to start page</a>
        </div>
    </div>
</div>
</body>
</html>
