<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <metacharset="utf-8"/>
    <metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Book store project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/" th:inline="text">View Books</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/adminview" th:if="${#httpServletRequest.remoteUser != null}" th:inline="text">Admin Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${#httpServletRequest.remoteUser != null}"href="/add"  th:inline="text">Add New Book</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/shopcart">cart <svg th:if="${session.totalItems==null||session.totalItems==0}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg><svg th:if="${session.totalItems>0}"  width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                </svg><span th:if="${session.totalItems!=null}" th:text="${'(' + session.totalItems + ')'}" ></span><span th:if="${session.totalItems==null}">(0)</span></a>
            </li>


            <li class="nav-item" th:if="${#httpServletRequest.remoteUser != null}">
                <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>


            <li class="nav-item" th:if="${#httpServletRequest.remoteUser == null}">
                <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem"> Login</a>

                <form name="logoutForm" th:action="@{/login}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>




            </li>
        </ul>
    </div>
</nav>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${session.totalItems<1}"><br><br><br><br><br><br>
    <strong>Holy guacamole!</strong> You need to add at least one book.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--<div class="alert alert-success" role="alert" th:if="${session.totalItems>0}">
    <h4 class="alert-heading">SHOPPING CART!</h4>
    <p>You are almost there! Thanks for shopping!</p>
    <hr>
    <p class="mb-0">Need any help? Please contact us!</p>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${session.totalItems<1}">
    <strong>Holy guacamole!</strong> You need to add at least one book.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    <div class="container">
-->
<br><br>
<h2>Your Cart</h2>


<table th:each="item : ${session.cartHandler}" class="tg" width="100%">
    <tbody>
    <tr style="height: 26px;">
        <td style="width: 450px; height: 26px;" colspan="4"></td>
    </tr>
    <tr style="height: 26px;">
        <td style="width: 50px; height: 105px;" rowspan="4"><img th:src="${item.book.thumbnail}" width="50px" height="100px" style="vertical-align:bottom"></td>
        <td style="width: 138px; height: 26px;"><span th:text="'Title: ' + ${item.book.title}"></span></td>
        <td style="width: 109px; height: 26px;text-align:center;">QTY</td>
        <td style="width: 144px; height: 26px;text-align:center;">QTY PRICE</td>
    </tr>
    <tr style="height: 26px;">
        <td style="width: 138px; height: 26px;"><span th:text="'Author: ' + ${item.book.author}"></span></td>
        <td style="width: 109px; height: 26px;" rowspan="3"><center><table class="tg">
            <thead>
            <tr>
                <th class="tg-c3ow"> <form ACTION="#" th:action="@{/subExistingBook}"  method="POST">
                    <button type="number" name="cartItemIndex" th:value="${itemStat.index}">-</button>
                </form></th>
                <th><span th:text="${item.qty}"></span></th>
                <th> <form ACTION="#" th:action="@{/addExistingBook}"  method="POST">
                    <button type="number" name="cartItemIndex" th:value="${itemStat.index}">+</button>
                </form></th>
            </tr>
            </thead>
        </table></center></td>
        <td style="width: 144px; height: 26px;text-align:center;" rowspan="3"><span th:text="${item.book.price}"></span></td>
    </tr>
    <tr style="height: 26px;">
        <td style="width: 138px; height: 26px;"><span th:text="'Date: ' + ${item.book.date}"></span></td>
    </tr>
    <tr style="height: 27px;">
        <td style="width: 138px; height: 27px;">safe</td>
    </tr>
    <tr style="height: 27px;">
        <td style="width: 450px; height: 27px;" colspan="4"><hr></td>
    </tr>
    </tbody>
</table>
<!-- DivTable.com


<table th:each="item : ${session.cartHandler}" class="tg" width="100%">
                        <thead>
                        <tr>
                            <th class="tg-0pky" colspan="3"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="4"><br><img src="https://s2.adlibris.com/images/997643/mor-courage-och-hennes-barn-den-kaukasiska-kritcirkeln.jpg" width="50px" height="100px" style="vertical-align:bottom"></td>
                            <td class="tg-c3ow">QTY</td>
                            <td class="tg-c3ow">QTY PRICE</td>
                        </tr>
                        <tr>
                            <td class="tg-0pky" width="200px"> <span th:text="'Title ' + ${item.book.title}"></span></td>
                            <td class="tg-c3ow" rowspan="3"><center><table class="tg">
                                <thead>
                                <tr>
                                    <th class="tg-c3ow"> <form ACTION="#" th:action="@{/subExistingBook}"  method="POST">
                                        <button type="number" name="cartItemIndex" th:value="${itemStat.index}">-</button>
                                    </form></th>
                                    <th><span th:text="${item.qty}"></span></th>
                                    <th> <form ACTION="#" th:action="@{/addExistingBook}"  method="POST">
                                        <button type="number" name="cartItemIndex" th:value="${itemStat.index}">+</button>
                                    </form></th>
                                </tr>
                                </thead>
                            </table></center></td>
                            <td class="tg-9wq88" rowspan="3"><span th:text="${item.book.price}"></span></td>
                        </tr>
                        <tr>
                            <td class="tg-0lax"><span th:text="'Author ' + ${item.book.author}"></span></td>
                        </tr>
                        <tr>
                            <td class="tg-0pky"><span th:text="'Date ' + ${item.book.Date}"></span></td>
                        </tr>
                        <tr>
                            <td class="tg-0lax" colspan="3"><hr></td>
                        </tr>
                        </tbody>
                    </table>
-->
                    <table  style="margin-left:150px;" th:if="${session.totalprice!=null}">

                        <tbody>
                        <tr>
                            <td><h3>Freight:</h3></td>
                            <td><h3>0</h3></td>
                        </tr>
                        <tr>
                            <td><h3>Total Price:</h3></td>
                            <td><h3><span th:text="'Total Price:'+ ${session.totalprice}"></span></h3></td>
                        </tr>
                        </tbody>
                    </table>











            </div>


<div widht="80%">
<center>
<p>
    <a class="btn btn-primary" th:if="${session.totalItems>0}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample" th:text="'Klarna Checkout - '+ ${session.totalprice}">
    </a>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:300px">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <input id="zipcode" class="form-control form-control-lg" type="Zip Code" placeholder="zip Code" style="width:300px" >
            </div>

            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:200px;margin-bottom:30px">
            Select Delivery Method</a><br>

            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            PostNord
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                           DB Schenker
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios2">
                            DH Freight
                        </label>
                    </div>

                    <center><a class="btn btn-primary" th:href="'/order'" role="button" style="width:200px;color:white;margin-top:20px">BUY</a></center>
                </div>
            </div>
        </form>
    </div>
</div>


</center>
</div>
</body><div style="height:300px"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
