<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>User register</h1>



        <form th:action="@{/register}" th:object="${user}" method="POST">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label>  <input th:if="*{id!=null}" type="hidden" th:field="*{id}"/> </label></div>

            <div><input type="submit" value="Sign In"/></div>
        </form>

        <form ACTION="#" th:action="@{/register}" th:object="${book}" method="POST">
            <input th:if="*{id!=null}" type="hidden" th:field="*{id}"/>
            <input  th:field="*{username}"/>
            <input  th:field="*{password}"/>
            <button type="submit">save</button>
        </form>

</div>
</body>
</html>