body {
  font-family: tahoma, helvetica, arial, sans-serif;

}

.testing {
 background: url(https://picserio.com/data/out/450/library-books-wallpaper_6518710.jpg) no-repeat center center fixed;
}

#testing {
 background: url(https://picserio.com/data/out/450/library-books-wallpaper_6518710.jpg) no-repeat center center fixed;
}

strong {
  font-weight: 700;
  background-color: yellow;
}

h1 {
background-color:white;
width:100%;
}



.bg-dark {
    background-color: #343a40!important;
    margin-bottom: 100px;
}


#deleteButtonDiv {
height: 15px;

}

#deleteButton {
    position: relative;
    float: right;

}

.form-control {
    /*width: 50%;*/
}
.btn-outline-dark {
    margin-top: 10px;}

.paginator {
  text-decoration: royalblue;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;

}

#paginationId {
    position: relative;
   
    padding: 12px 20px;
    position: center;

}

#paginationCenter {
margin: auto;
border: none;

}
h2 {margin:2rem 0;}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}

.card-title {
    margin-bottom: .75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}