body {
  font-family: tahoma, helvetica, arial, sans-serif;
}

strong {
  font-weight: 700;
  background-color: yellow;
}




.bg-dark {
    background-color: #343a40!important;
    margin-bottom: 100px;
}


#deleteButtonDiv {
height: 15px;

}

#deleteButton {
    position: relative;
    float: right;

}

.form-control {
    /*width: 50%;*/
}
.btn-outline-dark {
    margin-top: 10px;}

.paginator {
  text-decoration: royalblue;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;

}

#paginationId {
    position: relative;
    float: right;
    padding: 12px 20px;
    position: center;
    left: -450px;

}